body{
	font-size: 11pt;
	background-color: #F7F6F2;
	font-family: sans-serif;
}
#content{
	width: 90%;
	margin: auto;
}

/* 페이지 제목  */
.page_title{
	width: 100%;
	color: #4B6587;
}
.page_title a{
	cursor: pointer;
}

/* table, th, td */
tr{
	min-height: 30px;
}
.table1{
	text-align: center;
	width: 90%;
	height: 100%;
	margin: auto;
	border-spacing: 0;
	border: 1px solid #C8C6C6;
	border-bottom: 0;
}
.table1th{
	width: 15%;
	background-color: #F0E5CF;
	border-right: 1px solid #C8C6C6;
	border-bottom: 1px solid #C8C6C6;
}
.table1td{
	height: 55px;
	vertical-align: middle;
	border-bottom: 1px solid #C8C6C6;
}

/* span */
.small_txt{
	font-size: 8pt;
	color: gray;
}
/* input */
input[type=text]{
	height: 20px;
}
.input_long{
	width: 78%;
}
.input_number{
	width: 78%;
	text-align: right;
}
.input_short{
	width: 80px;
}
#submit_btn, .btn1{
	background-color:white;
	border: 2px solid #4B6587;
	color:#4B6587;
	font-weight: bold;
	width: 50px;
	height:30px;
}
input:invalid{
	color:red;
	font-weight: bold;
}
/* textarea */
.tarea1{
	width: 80%;
	height: 80px;
}

/* text-align */
.align_left{
	text-align: left;
}

/* file customizing */
.update_img{
	margin: 0;
	width: 100px;
	height: 100px;
}
/* input[type="file"]{
	
} */
/*
#image{ 
	display: none;
}
.imgDiv{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	margin: auto;
	padding: 0;
}

.image_customBtn{
	float:left;
	cursor: pointer;
	margin-top: 20px;
	padding:5px;
	background-color: #e6e6e6;
	border-radius: 4px;
	color: black;
	font-weight:bold;
}
*/