/* ÀüÃ¼ */
body{
	font-size: 11pt;
}
/* table, th, td */
.table1{
	text-align: center;
	width: 90%;
	height: 100%;
	margin: auto;
}
.table1th{
	width: 15%;
}
.table1td{
	height: 55px;
}
/* span */
.small_txt{
	font-size: 8pt;
	color: gray;
}
/* input */
.input_long{
	width: 78%;
}
.input_number{
	width: 78%;
	text-align: right;
}
.input_short{
	width: 80px;
}
#submit_btn, .btn1{
	background-color:white;
	border: 2px solid black;
	font-weight: bold;
	width: 50px;
	height:30px;
}
input:invalid{
	color:red;
	font-weight: bold;
}
/* textarea */
.tarea1{
	width: 80%;
	height: 80px;
}

/* text-align */
.align_left{
	text-align: left;
}