<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vam.mapper.MemberMapper">
  	
  	<insert id="memberJoin">
  		insert into allgoods values(#{id}, #{pass}, #{name}, #{phoneNum} , #{email} )

  	</insert>
  	
  	 <!-- 로그인 -->
      <select id="memberLogin" resultType="com.vam.model.MemberVO">
      
         select id, pass,name, phoneNum, email from allgoods where id = #{id} and pass = #{pass}
      
      </select>
      
      <!-- 회원정보 수정 -->
      <update id="memberUpdate">
      update allgoods set
      name = #{name},
      pass = #{pass},
      phoneNum = #{phoneNum},
      email = #{email}
      where id = #{id}
      </update>
  	
  	<!-- 회원탈퇴 -->
<delete id="memberDelete">
	delete from allgoods
	where id = #{id}
	  and pass = #{pass} 
</delete>
<!-- 아이디 찾기 -->
	<select id="memberFind" parameterType="String" resultType="String">
		select id from allgoods where email = #{email}
	</select>
	<!-- 비밀번호 찾기 -->
	<select id="passFind" parameterType="String" resultType="String">
		select pass from allgoods where id = #{id} and email = #{email}
	</select>
  	
  </mapper>